Pico_Flow.json
[{"id":"0bc27ae0a6ca9556","type":"debug","z":"72521848a4326f5e","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":740,"y":80,"wires":[]},{"id":"b6728bfd414ff146","type":"inject","z":"72521848a4326f5e","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nodered","payloadType":"str","x":90,"y":40,"wires":[["b1c5ce6b9a30e89e"]]},{"id":"611e2c068fea4714","type":"exec","z":"72521848a4326f5e","command":"python3 -u /containers/ha/python_scripts/Pico-NR.py","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"Pico-NR.py","x":530,"y":120,"wires":[["39ba04d87c22db18"],["0bc27ae0a6ca9556"],["0bc27ae0a6ca9556"]]},{"id":"f70aa8bc44bae529","type":"inject","z":"72521848a4326f5e","name":"Stop","props":[{"p":"kill","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":80,"wires":[["611e2c068fea4714"]]},{"id":"1a6e779ad7de7a38","type":"mqtt out","z":"72521848a4326f5e","name":"Pi4B","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2696149d.98598c","x":1090,"y":280,"wires":[]},{"id":"a13caf731a96a33a","type":"server-events","z":"72521848a4326f5e","name":"","server":"9b876e0e8a3ea5f7","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":150,"y":320,"wires":[["1296c0a928c5fc5d","d93757e6b4f56338"]]},{"id":"1296c0a928c5fc5d","type":"switch","z":"72521848a4326f5e","name":"Running?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":300,"wires":[["4cb92a6364bd1699"]]},{"id":"b0b47244cebea677","type":"api-call-service","z":"72521848a4326f5e","name":"","server":"9b876e0e8a3ea5f7","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.home_assistant_restart"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":710,"y":340,"wires":[["b1c5ce6b9a30e89e","a8878950e7744080","23ee7e596a16c1ce"]]},{"id":"4cb92a6364bd1699","type":"api-current-state","z":"72521848a4326f5e","name":"Running!","server":"9b876e0e8a3ea5f7","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_assistant_restart","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":480,"y":340,"wires":[["b0b47244cebea677"],[]]},{"id":"b0ece7c9da1f63a7","type":"server-state-changed","z":"72521848a4326f5e","name":"HA Restarted?","server":"9b876e0e8a3ea5f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_assistant_restart","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":520,"y":280,"wires":[["b0b47244cebea677"],[]]},{"id":"e529cbc1b57b5798","type":"inject","z":"72521848a4326f5e","name":"Restart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[[]]},{"id":"52f60f49d9b88c08","type":"split","z":"72521848a4326f5e","name":"","splt":"XXX","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":890,"y":160,"wires":[["4082448fc23cb12c","9c3e3d6595cf073a"]]},{"id":"39ba04d87c22db18","type":"change","z":"72521848a4326f5e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"},{","fromt":"str","to":"XXX","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"}","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"topic\":\"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\",\"payload\":","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":40,"wires":[["52f60f49d9b88c08","1593dcfa61387ceb"]]},{"id":"8f0e2fcb701cac88","type":"debug","z":"72521848a4326f5e","name":"MESG","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"4082448fc23cb12c","type":"function","z":"72521848a4326f5e","name":"Parts","func":"\nvar mesg = {}; \n\nvar parts = msg.payload.split(\",\"); \nmesg.topic = parts[0]; \nmesg.payload = parts[1]; \nif (mesg.topic == \"\\n\")\n   { return null; }\nif (mesg.topic == \"undefined\")\n   { return null; }\nif (mesg.payload == \"undefined\")\n   { return null; }\n\nreturn mesg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":220,"wires":[["1a6e779ad7de7a38","8f0e2fcb701cac88"]]},{"id":"d93757e6b4f56338","type":"debug","z":"72521848a4326f5e","name":"Status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":350,"y":380,"wires":[]},{"id":"b2021ba7ab8d2738","type":"comment","z":"72521848a4326f5e","name":"Home Assistant Restarted","info":"","x":130,"y":280,"wires":[]},{"id":"1593dcfa61387ceb","type":"debug","z":"72521848a4326f5e","name":"Rules","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":20,"wires":[]},{"id":"9c3e3d6595cf073a","type":"debug","z":"72521848a4326f5e","name":"Split","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":80,"wires":[]},{"id":"b1c5ce6b9a30e89e","type":"exec","z":"72521848a4326f5e","command":"sudo ps -ef | grep /containers/ha/python_scripts/Pico-NR.py | grep -v grep | awk '{print $2}' | xargs kill -9","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kill","x":270,"y":40,"wires":[["be5f55c7f549aa22"],[],[]]},{"id":"be5f55c7f549aa22","type":"delay","z":"72521848a4326f5e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":415,"y":35,"wires":[["611e2c068fea4714"]]},{"id":"b4431e82e77a5b13","type":"ha-button","z":"72521848a4326f5e","name":"Restart","version":0,"debugenabled":false,"outputs":1,"entityConfig":"ddd6ece75b1ffd6a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":200,"wires":[["b1c5ce6b9a30e89e","a8878950e7744080"]]},{"id":"cb91403f1d75ad8f","type":"rpi-automation-hat out","z":"72521848a4326f5e","name":"PwrCycle Pico","x":1220,"y":340,"wires":[]},{"id":"a8878950e7744080","type":"change","z":"72521848a4326f5e","name":"Pwr OFF","rules":[{"t":"set","p":"topic","pt":"msg","to":"relay.1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":340,"wires":[["cb91403f1d75ad8f","0679816faf32c5bb"]]},{"id":"9616c3ac5b6e9e29","type":"change","z":"72521848a4326f5e","name":"Pwr ON","rules":[{"t":"set","p":"topic","pt":"msg","to":"relay.1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":440,"wires":[["cb91403f1d75ad8f"]]},{"id":"0679816faf32c5bb","type":"delay","z":"72521848a4326f5e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1000,"y":440,"wires":[["9616c3ac5b6e9e29"]]},{"id":"6b798053d2aec8e7","type":"inject","z":"72521848a4326f5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":750,"y":440,"wires":[["a8878950e7744080"]]},{"id":"28af4829512240b3","type":"debug","z":"72521848a4326f5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"225e6cd111792199","type":"inject","z":"72521848a4326f5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nodered","payloadType":"str","x":160,"y":453,"wires":[["9106e319bd5ad8b6"]]},{"id":"9106e319bd5ad8b6","type":"exec","z":"72521848a4326f5e","command":"sudo systemctl restart","addpay":"payload","append":"","useSpawn":"true","timer":"5","winHide":false,"oldrc":false,"name":"Service restart","x":320,"y":453,"wires":[["28af4829512240b3"],["28af4829512240b3"],["28af4829512240b3"]]},{"id":"ab1e8047d490e394","type":"comment","z":"72521848a4326f5e","name":"HA Markdown card","info":"Van loop counter: {{states.sensor.van_loop_counter.state }}\n{%- set last_update=states.sensor.van_loop_counter.last_updated %}\n{%- set seconds_difference = (as_timestamp(now()) - as_timestamp(last_update))  %}\n{%- set minutes_difference = (seconds_difference) / 60 %}\n{%- set hours_difference = (seconds_difference) / 3600 %} Pico Rests: {{states.counter.picoresets.state}}\n{%- if seconds_difference > 5 %}\nLast_updated: {{states.sensor.van_loop_counter.last_updated}}\nSeconds: {{ seconds_difference }}\nMinutes: {{minutes_difference}}\nHours: {{hours_difference}}  {%- endif -%}\n","x":120,"y":220,"wires":[]},{"id":"23ee7e596a16c1ce","type":"debug","z":"72521848a4326f5e","name":"Boop","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"1722d1d43d08bc51","type":"inject","z":"72521848a4326f5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"light.1","payload":"on","payloadType":"str","x":1220,"y":240,"wires":[["cb91403f1d75ad8f"]]},{"id":"2696149d.98598c","type":"mqtt-broker","name":"Pi4B","broker":"192.168.1.18","port":"1883","clientid":"NODERED_Pi4B","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"/nodered/LWT","birthQos":"0","birthRetain":"true","birthPayload":"HELLO","birthMsg":{},"closeTopic":"/nodered/LWT","closeQos":"0","closeRetain":"true","closePayload":"BYE","closeMsg":{},"willTopic":"/nodered/LWT","willQos":"0","willRetain":"true","willPayload":"DEAD","willMsg":{},"sessionExpiry":""},{"id":"9b876e0e8a3ea5f7","type":"server","name":"Pi4B","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"ddd6ece75b1ffd6a","type":"ha-entity-config","server":"9b876e0e8a3ea5f7","name":"Restart","version":2,"haConfig":[{"property":"name","value":"Restart"},{"property":"icon","value":"recycle"},{"property":"device_class","value":"restart"}],"entityType":"button"}]