Pico-NR.json
[{"id":"72521848a4326f5e","type":"tab","label":"PICO","disabled":false,"info":""},{"id":"0bc27ae0a6ca9556","type":"debug","z":"72521848a4326f5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":880,"y":160,"wires":[]},{"id":"b6728bfd414ff146","type":"inject","z":"72521848a4326f5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"nodered","payloadType":"str","x":100,"y":180,"wires":[["611e2c068fea4714"]]},{"id":"611e2c068fea4714","type":"exec","z":"72521848a4326f5e","command":"python3 -u /containers/ha/python_scripts/Pico-NR.py","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"Pico-NR.py","x":270,"y":180,"wires":[["f8beb6e6eb8f1419"],["0bc27ae0a6ca9556"],["0bc27ae0a6ca9556"]]},{"id":"f14c1d51cfbdd0a2","type":"split","z":"72521848a4326f5e","name":"","splt":"XXX","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":240,"wires":[["a433c40df6c6e427"]]},{"id":"f70aa8bc44bae529","type":"inject","z":"72521848a4326f5e","name":"Kill","props":[{"p":"kill","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":60,"wires":[["611e2c068fea4714"]]},{"id":"1a6e779ad7de7a38","type":"mqtt out","z":"72521848a4326f5e","name":"Pi4B","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2696149d.98598c","x":830,"y":340,"wires":[]},{"id":"f8beb6e6eb8f1419","type":"change","z":"72521848a4326f5e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"}, {","fromt":"str","to":"XXX","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"}","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"'topic': '","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"'payload': ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":320,"wires":[["f14c1d51cfbdd0a2"]]},{"id":"a433c40df6c6e427","type":"function","z":"72521848a4326f5e","name":"Use","func":"\nvar mesg = {}; \n\nvar parts = msg.payload.split(\", \"); \nmesg.topic = parts[0]; \nmesg.payload = parts[1]; \n\nreturn mesg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":220,"wires":[["0bc27ae0a6ca9556","1a6e779ad7de7a38"]]},{"id":"2696149d.98598c","type":"mqtt-broker","name":"Pi4B","broker":"192.168.1.18","port":"1883","clientid":"NODERED_Pi4B","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"/nodered/LWT","birthQos":"0","birthRetain":"true","birthPayload":"HELLO","birthMsg":{},"closeTopic":"/nodered/LWT","closeQos":"0","closeRetain":"true","closePayload":"BYE","closeMsg":{},"willTopic":"/nodered/LWT","willQos":"0","willRetain":"true","willPayload":"DEAD","willMsg":{},"sessionExpiry":""}]
